/* !Styling about section */

.about__header {
  font-size: var(--size-4xl);
  line-height: 1.1;
  font-weight: 600;
}

.about__img {
  width: 17.7rem;
  height: 20rem;
  border-radius: 10px;
}

.about__intro {
  font-size: var(--size-3xl);
  font-weight: 600;
  line-height: 1;
}

.about__description {
  font-size: var(--size-xl);
  line-height: 1.5;
  margin-bottom: var(--size-4xl);
}

.resume__text {
  color: var(--clr-primary);
}

/*! Styling services */

.services__container  {
  background-color: #f3f3f3;
}

.services__sub-container {
  padding-top: var(--size-5xl);
}

.service__intro {
  font-size: var(--size-5xl);
  font-weight: 600;
  line-height: 1;
  margin-bottom: var(--size-5xl);
}

.services__title {
  font-size: var(--size-4xl);
  font-weight: 600;
}

.services__description {
  font-size: var(--size-xl);
  line-height: 1.5;
}


/* xss */
/* @media (min-width: 320px) {} */

/* xs */
@media (min-width: 475px) {
  /* !Styling about section */

  .about__header {
    font-size: var(--size-4xl);
    line-height: 1.1;
    font-weight: 600;
  }

  .about__img {
    width: 17.7rem;
    height: 20rem;
    border-radius: 10px;
  }

  .about__intro {
    font-size: var(--size-3xl);
    font-weight: 600;
    line-height: 1;
  }

  .about__description {
    font-size: var(--size-xl);
    line-height: 1.5;
    margin-bottom: var(--size-4xl);
  }

  .resume__text {
    color: var(--clr-primary);
  }

  /*! Styling services */

  .services__container  {
    background-color: #f3f3f3;
  }

  .services__sub-container {
    padding-top: var(--size-5xl);
  }

  .service__intro {
    font-size: var(--size-5xl);
    font-weight: 600;
    line-height: 1;
    margin-bottom: var(--size-5xl);
  }

  .services__title {
    font-size: var(--size-4xl);
    font-weight: 600;
  }

  .services__description {
    font-size: var(--size-xl);
    line-height: 1.5;
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {}   */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

