.hero__btn {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 46px;
  text-decoration: none;
  text-align: center;
  border-radius: 50px;
  font-family: arial;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*!Styling hero container */
.hero__container {
  height: 33rem;
  width: 100%;
}

.hero__left {
  display: flex;
  width: 100%;
  height: 20rem;
}

.profile__img {
  width: 250px;
  position: absolute;
  right: 1px;
  border: none;
}

.name__text {
  font-size: var(--size-4xl);
  font-weight: 800;
  line-height: 0.3;
}

.name__container {
  margin: var(--size-3xl) 0 0 0;
}

.hero__right {
  display: flex;
  flex-direction: column;
  gap: var(--size-lg);
  position: absolute;
  top: 320px;
  z-index: 3;
}

.hero__right p:nth-child(1) {
  display: none;
}

.hero__right p:nth-child(2) {
  font-size: var(--size-2xl);
  line-height: 1.2;
  font-weight: 800;
}

.hero__description {
  font-size: var(--size-base);
  color: var(--clr-gray);
  line-height: 1.6;
}

.hero__btn {
  border: 1.8px solid var(--clr-dark-gray);
  padding: 0 var(--size-2xl) 0 var(--size-2xl);
  width: fit-content;
  height: 2.5rem;
  background-color: transparent;
  border-radius: 5rem;
  text-align: center;
  color: var(--clr-dark);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.hr__line {
  display: none;
}

/*! styling about container */
.about__container {
  display: flex;
  flex-direction: column;
  gap: var(--size-5xl);
  height: 30rem;
}

.about__right-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--size-sm);
}

.about__right-wrapper p:nth-child(1) {
  font-size: var(--size-3xl);
  line-height: 1;
  font-weight: 800;
}

.about__right-wrapper p:nth-child(2) {
  color: var(--clr-gray);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.arrow__icon {
  width: 3rem;
}

.about__me-btn {
  background-color: var(--clr-primary);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--size-4xl);
  position: relative;
  bottom: 20px;
}

/* xss */
/* @media (min-width: 320px) {} */

/* xs */
@media (min-width: 475px) {
  /*!Styling hero container */
  .hero__container {
    height: 40rem;
    width: 100%;
  }

  .profile__img {
    width: 340px;
  }
  
  .name__text {
    font-size: var(--size-6xl);
  }
  
  .name__container {
    margin: var(--size-4xl) 0 0 var(--size-xl);
  }
  
  .hero__right {
    display: flex;
    flex-direction: column;
    gap: var(--size-lg);
    position: absolute;
    top: 410px;
    z-index: 3;
  }
  
  .hero__right p:nth-child(2) {
    font-size: var(--size-3xl);
  }
  
  .hero__description {
    line-height: 1.7;
  }
  
  .hero__btn {
    height: 2.9rem;
  }
  
  /*! styling about container */
  .about__container {
    gap: var(--size-6xl);
    height: 33rem;
  }

  .about__left-wrapper p:nth-child(2) {
    font-size: var(--size-xl);
    line-height: 1.6;
  }
  
  .about__right-wrapper p:nth-child(1) {
    font-size: var(--size-4xl);
    line-height: 1.2;
  }
  
  .arrow__icon {
    width: 3.5rem;
  }
  
  .about__me-btn {
    width: 6.7rem;
    height: 6.7rem;
  }
}

/* sm */
@media (min-width: 640px) {
  /*!Styling hero container */
  .hero__container {
    display: flex;
    height: 25rem;
  }
  
  .hero__left {
    display: flex;
    width: 100%;
    height: 20rem;
  }
  
  .profile__img {
    width: 270px;
    right: 290px;
  }
  
  .name__text {
    font-size: var(--size-4xl);
    font-weight: 800;
    line-height: 0.3;
  }
  
  .name__container {
    margin: var(--size-5xl) 0 0 var(--size-base);
  }
  
  .hero__right {
    gap: var(--size-base);
    position: static;
    top: 0;
    z-index: 0;
    width: 80%;
    justify-content: center;
  }
  
  .hero__right p:nth-child(1) {
    display: inline-block;
  }
  
  .hero__right p:nth-child(2) {
    font-size: var(--size-xl);
  }
  
  .hero__description {
    font-size: var(--size-sm);
    line-height: 1.5;
  }
  
  .hero__btn {
    padding: 0 var(--size-xl) 0 var(--size-xl);
    width: fit-content;
    height: 2rem;
    text-align: center;
    color: var(--clr-dark);
    font-size: var(--size-sm);
  }

  .hr__line {
    display: block;
  }
  
  /*! styling about container */
  .about__container {
    gap: var(--size-xs);
    height: 19rem;
    flex-direction: row;
    margin-top: var(--size-5xl);
  }

  .about__left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15rem;
  }

  .about__left-wrapper p:nth-child(1) {
    font-size: var(--size-sm);
  }

  .about__left-wrapper p:nth-child(2) {
    font-size: var(--size-base);
    max-width: 500px;
  }
  
  .about__right-wrapper {
    gap: var(--size-xs);
  }
  
  .about__right-wrapper p:nth-child(1) {
    font-size: var(--size-2xl);
    line-height: 1.2;
  }

  .arrow__icon {
    width: 2.3rem;
  }
  
  .about__me-btn {
    width: 5.7rem;
    height: 5.7rem;
    margin-left: var(--size-2xl);
    bottom: 15px;
  }
}

/*? md */
@media (min-width: 768px) {
  /*!Styling hero container */
  .hero__container {
    display: flex;
    height: 25rem;
    margin-bottom: var(--size-5xl);
  }
  
  .hero__left {
    height: 20rem;
  }
  
  .profile__img {
    width: 330px;
    right: 335px;
  }
  
  .name__text {
    font-size: var(--size-5xl);
    font-weight: 800;
    line-height: 0.3;
  }
  
  .name__container {
    margin: var(--size-6xl) 0 0 var(--size-base);
  }
  
  .hero__right {
    gap: var(--size-base);
    position: static;
    top: 0;
    z-index: 0;
    width: 80%;
    justify-content: center;
  }
  
  .hero__right p:nth-child(1) {
    display: inline-block;
  }
  
  .hero__right p:nth-child(2) {
    font-size: var(--size-xl);
  }
  
  .hero__description {
    font-size: var(--size-sm);
    line-height: 1.5;
  }
  
  .hero__btn {
    padding: 0 var(--size-xl) 0 var(--size-xl);
    width: fit-content;
    height: 2rem;
    text-align: center;
    color: var(--clr-dark);
    font-size: var(--size-sm);
  }

  .hr__line {
    display: block;
  }
  
  /*! styling about container */
  .about__container {
    gap: var(--size-xs);
    height: 19rem;
    flex-direction: row;
    margin-top: var(--size-5xl);
  }

  .about__left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15rem;
  }

  .about__left-wrapper p:nth-child(1) {
    font-size: var(--size-sm);
  }

  .about__left-wrapper p:nth-child(2) {
    font-size: var(--size-base);
    max-width: 500px;
  }

  .about__right-wrapper {
    gap: var(--size-xs);
  }
  
  .about__right-wrapper p:nth-child(1) {
    font-size: var(--size-2xl);
    line-height: 1.2;
  }

  .arrow__icon {
    width: 2.3rem;
  }
  
  .about__me-btn {
    width: 5.7rem;
    height: 5.7rem;
    margin-left: var(--size-2xl);
    bottom: 15px;
  }
}  

/*? lg */
@media (min-width: 1024px) {
  /*!Styling hero container */
  .hero__container {
    height: 30rem;
    margin-bottom: var(--size-7xl);
  }
  
  .hero__left {
    height: 20rem;
  }
  
  .profile__img {
    width: 400px;
    right: 440px;
  }
  
  .name__text {
    font-size: var(--size-6xl);
    font-weight: 800;
    line-height: 0.2;
  }
  
  .name__container {
    margin: var(--size-7xl) 0 0 var(--size-8xl);
  }
  
  .hero__right {
    gap: var(--size-xs);
    height: 36rem;
    width: 73%;
  }
  
  .hero__right p:nth-child(2) {
    font-size: var(--size-3xl);
  }
  
  .hero__description {
    font-size: var(--size-base);
    line-height: 1.6;
    max-width: 350px;
  }
  
  .hero__btn {
    padding: 0 var(--size-2xl) 0 var(--size-2xl);
    width: fit-content;
    height: 2.8rem;
    font-size: var(--size-base);
  }
  
  /*! styling about container */
  .about__container {
    gap: var(--size-4xl);
    height: 20rem;
    margin-top: var(--size-6xl);
    margin-bottom: var(--size-5xl);
  }

  .about__left-wrapper {
    height: 19.9rem;
  }

  .about__left-wrapper p:nth-child(1) {
    font-size: var(--size-base);
  }

  .about__left-wrapper p:nth-child(2) {
    font-size: var(--size-xl);
    max-width: 500px;
  }

  .about__right-wrapper {
    gap: var(--size-base);
  }
  
  .about__right-wrapper p:nth-child(1) {
    font-size: var(--size-4xl);
  }

  .arrow__icon {
    width: 2.5rem;
  }
  
  .about__me-btn {
    width: 7rem;
    height: 7rem;
    margin-left: var(--size-3xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  /*!Styling hero container */
  .hero__container {
    height: 35rem;
    margin-bottom: var(--size-6xl);
  }
  
  .hero__left {
    height: 20rem;
  }
  
  .profile__img {
    width: 450px;
    right: 550px;
  }
  
  .name__text {
    font-size: var(--size-7xl);
    line-height: 0.3;
  }
  
  .name__container {
    margin: var(--size-7xl) 0 0 var(--size-10xl);
  }
  
  .hero__right {
    gap: var(--size-xs);
    justify-content: flex-end;
    height: 32rem;
    width: 70%;
  }
  
  .hero__right p:nth-child(2) {
    font-size: var(--size-4xl);
  }
  
  .hero__description {
    font-size: var(--size-xl);
    max-width: 400px;
  }
  
  .hero__btn {
    padding: 0 var(--size-3xl) 0 var(--size-3xl);
    height: 3.3rem;
  }
  
  /*! styling about container */
  .about__container {
    gap: var(--size-5xl);
    height: 25rem;
    margin-top: var(--size-6xl);
    margin-bottom: var(--size-3xl);
  }

  .about__left-wrapper {
    height: 19.9rem;
  }

  .about__left-wrapper p:nth-child(2) {
    font-size: var(--size-2xl);
  }

  .about__right-wrapper {
    gap: var(--size-base);
    width: 50%;
  }
  
  .about__right-wrapper p:nth-child(1) {
    font-size: 2.5rem;
    line-height: 1;
  }

  .arrow__icon {
    width: 3rem;
  }
  
  .about__me-btn {
    width: 8.3rem;
    height: 8.3rem;
    margin-left: var(--size-4xl);
    font-size: var(--size-xl);
  }
}

/* 1xl */
@media (min-width: 1366px) {
  /*!Styling hero container */
  .hero__container {
    margin-bottom: 5.5rem;
  }
  
  .profile__img {
    width: 490px;
    right: 590px;
  }
  
  .name__text {
    font-size: 4.8rem ;
    line-height: 0.2;
  }
  
  .name__container {
    margin: var(--size-8xl) 0 0 var(--size-9xl);
  }
  
  .hero__right {
    gap: var(--size-base);
    justify-content: flex-end;
    height: 35rem;
    width: 70%;
  }
  
  .hero__right p:nth-child(2) {
    font-size: var(--size-4xl);
  }
  
  .hero__description {
    font-size: var(--size-xl);
    max-width: 400px;
  }
  
  .hero__btn {
    padding: 0 var(--size-4xl) 0 var(--size-4xl);
    height: 3.3rem;
  }
  
  /*! styling about container */
  .about__container {
    gap: var(--size-7xl);
  }

  .about__left-wrapper {
    height: 23rem;
  }
  
  .about__right-wrapper p:nth-child(1) {
    font-size: 2.5rem;
    line-height: 1;
  }

  .about__right-wrapper p:nth-child(2) {
    font-size: 1.2rem;
  }

  .arrow__icon {
    width: 3.2rem;
  }
  
  .about__me-btn {
    width: 9rem;
    height: 9rem;
    margin-left: var(--size-3xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */