/* xss */
/* @media (min-width: 320px) {} */

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {}   */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */



.btn-style {
  background-color: transparent;
  border-radius: 5rem;
  border: 1.8px solid var(--clr-dark-gray);
  padding: 1rem;
  text-align: center;
  width: 12rem;
  color: var(--clr-dark);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  height: 4rem;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.size640 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}

.size1024 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6rem;
  padding-right: 6rem;
}


.size1080 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10rem;
  padding-right: 10rem;
}

.section {
  margin-top: 5rem;
}

.text-fnt-semi-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.text-fnt-semi-reg {
  font-family: 'Open Sans', sans-serif;
}

.header-text-fnt {
  font-family: 'Montserrat', sans-serif;
}

.hr__line {
  border-bottom: 1.9px solid var(--clr-dark-gray);
  border-radius: 10px;
  margin: 0 var(--size-3xl) 0 var(--size-3xl);
}

footer a {
  color: var(--clr-light);
}

li a {
  font-family: 'Open Sans', sans-serif;
}

a button {
  color: var(--clr-light);
}

.cntct__link {
  color: var(--clr-light);  
}

/* xss */
@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}  

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .section {
    margin-top: 10rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
